{% extends 'base.html.twig' %}
{# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
            <meta name="description" content="" />
            <meta name="author" content="" />

            <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
            <!-- Bootstrap icons-->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
            <!-- Google fonts-->
            <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
            <link href="{{ asset('css/styles.css ')}}" rel="stylesheet" />
        {% endblock %}

{% block body %}
    <nav class="navbar navbar-light bg-light">
        <div class="container">
            <a class="logo navbar-brand" href="{{ url('home') }}"><span class="logo-top">L'Univers</span><br>Du Prénom</a>
           <ul>
            {% if app.user %}
               <li>
            {% for role in app.user.roles %}
                {% if role == 'ROLE_ADMIN' %}
                {% if app.request.get('_route') != 'mail_addfirstname' %}
                    <a class="btn btn-primary" href="{{ url('mail_addfirstname') }}">Boite d'ajout</a>

                {% else %}
                    <a class="btn btn-primary" href="{{ url('mail_problem') }}">Boite des problèmes</a>
                {% endif %}
                {% endif %}

            {% endfor %}
               </li>
                <li>
                    <a class="btn btn-primary" href="{{ path('profile', {'id': app.user.id}) }}">Mon profil</a>
                </li>
            {% endif %}
               <li>
            <a class="btn btn-primary" href="{{ url('search') }}">Recherchez un prénom</a>
               </li>
               <li>
            <a class="btn btn-primary" href="{{ url('addfirstname') }}">Ajoutez un prénom</a>
               </li>
               <li>
            {% if app.request.get('_route') == 'app_login' %}
                <a class="btn btn-primary" href="{{ url('inscription') }}">S'inscrire</a>
            {% else %}
                {% if app.user %}
                    <a class="btn btn-primary" href="{{ url('app_logout') }}">Déconnexion</a>
                {% else %}
                    <a class="btn btn-primary" href="{{ url('app_login') }}">Connexion</a>
                {% endif %}
            {% endif %}
               </li>
           </ul>
        </div>
    </nav>
{% block content %}
{% endblock %}
    <!-- Footer-->
    <footer class="footer bg-light">
        <div class="container">
            <div class="row">
                <p class="text-end">&copy; IPEPS SERAING SUP LUCAS HONNAY</p>
            </div>
        </div>
    </footer>
{% endblock %}
{% block javascripts %}
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script src="{{ asset('js/scripts.js') }}"></script>
{% endblock %}